cffi==1.17.1
cryptography==43.0.1
customtkinter==5.2.2
darkdetect==0.8.0
fernet==1.0.1
ferret==0.8.0
packaging==24.1
pillow==10.4.0
pyaes==1.6.1
pycparser==2.22
pygame==2.6.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
